<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lend</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">

    <h1>Agregar nuevo libro</h1>

    <p class="error"
       th:if="${error}"
       th:text="${error}">
    </p>

    <p class="success"
       th:if="${success}"
       th:text="${success}">
    </p>

    <form th:action="@{/library/saveBook}"
          method="post">

        <input
                type="text"
                name="isbn"
                placeholder="ISBN">

        <input
                type="text"
                name="title"
                placeholder="Título">

        <input
                type="number"
                name="copies"
                placeholder="Copias">

        <input
                type="text"
                name="publisher"
                placeholder="Autor">

        <select name="category.code">

            <option value="">
                Seleccione categoría
            </option>

            <option
                    th:each="category:${categories}"
                    th:value="${category.code}"
                    th:text="${category.name}">
            </option>

        </select>

        <button type="submit">
            Guardar libro
        </button>

    </form>

</div>

<a href="/library/lending">Ir a pagina de crear prestamo</a><br>
<a href="/library/returning">Ir a pagina de devolver un libro</a><br>
<a href="/library/createUser">Crear un Usuario</a><br>
<a href="/library/users">Lista Usuario</a><br>
<a href="/library/cancelReservation">CANCELAR RESERVA</a><br>
<a href="/library/active-lendings">Ver préstamos activos</a><br>
<a href="/logout">Cerra sesion</a>
</body>
</html>