<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Préstamos por año</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">

    <h1>Buscar préstamos por año</h1>

    <form th:action="@{/library/lendingsByYear}" method="post">

        <label>Año desde:</label>
        <input type="number" name="from" required>

        <br><br>

        <label>Año hasta:</label>
        <input type="number" name="to" required>

        <br><br>

        <button type="submit">
            Buscar
        </button>

    </form>

    <br>

    <table class="login-box">

        <tr>
            <th>ISBN</th>
            <th>Usuario</th>
            <th>Fecha préstamo</th>
            <th>Fecha devolución</th>
        </tr>

        <tr th:each="l : ${lendings}">

            <td th:text="${l.isbn}"></td>

            <td th:text="${l.userCode}"></td>

            <td th:text="${l.lendingDate}"></td>

            <td th:text="${l.returningDate}"></td>

        </tr>

    </table>

    <br>

    <a href="/library/lend"> Volver a prestar libro </a>   <br><br>
    <a href="/library/returning">Ir a devolver libro </a>   <br><br>
    <a href="/library/lendingsByYear">BUSCAR POR AÑO </a>   <br><br>
    <a href="/library/active-lendings">  Ver préstamos activos </a> <br><br>
    <a href="/library/users"> Ver usuarios</a> <br><br>
    <a href="/logout"> Cerrar sesión</a>

</div>

</body>
</html>